@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-wide {
    @apply mx-auto lg:max-w-[80vw];
  }

  .focus {
    @apply focus-visible:rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-300 focus-visible:ring-offset-0;
  }

  .font-txt {
    @apply text-sm leading-relaxed sm:text-base lg:text-lg;
  }
}
