@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-wide {
    @apply mx-auto lg:max-w-[80vw];
  }

  .focus {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-300 focus-visible:ring-offset-0 focus-visible:rounded-full px-3;
  }
}
